body {
    background-color: #F5F5F5;
}

.footer li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footerlogo img {
    width: 2.5rem;
}

#menu1 li:hover {
    color: #b0a9a9;
    cursor: pointer;
}